<ion-view view-title="home">
  <ion-nav-title class="title-bar">
    <h1 class="title">Desaparecidos - RJ</h1>
  </ion-nav-title>

  <ion-content class="main-content">
    <ion-card>
      <ion-card-header>
        <div class="text-box">
          <span class="text organization-name">Delegacia de Descoberta de Paradeiros do Rio de Janeiro</span>
        </div>
      </ion-card-header>

      <ion-card-content>
        <img src="../img/logo-policia-civil.jpg" class="logo">
        <div class="text-box">
          <span></span>
          <span class="text organization-info">testando</span>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-view>
