<ion-view view-title="search">
  <ion-nav-title class="title-bar">
    <h1 class="title">Pesquisar Desaparecidos</h1>
  </ion-nav-title>

  <ion-content>

    <label class="item item-input">
      <input type="text" ng-model="nome" name="nome" placeholder="Nome">
    </label>

    <label class="item item-input">
      <input type="number" ng-model="idade" name="idade" placeholder="Idade">
    </label>

    <label class="item item-input">
      <input type="text" ng-model="altura" name="altura" placeholder="Altura aproximada em metros">
    </label>

    <label class="item item-input">
      <input type="text" ng-model="cor da pele" name="cor-pele" placeholder="Cor da pele">
    </label>

    <label class="item item-input">
      <input type="text" ng-model="cor dos olhos" name="cor-olhos" placeholder="Altura aproximada em metros">
    </label>

    <label class="item item-input">
      <input type="text" ng-model="cor do cabelo" name="cor-cabelo" placeholder="Cor do cabelo">
    </label>

    <label class="item item-input">
      <input type="text" ng-model="sexo" nome="sexo" placeholder="Sexo">
    </label>

    <label class="item item-input">
      <input type="text" ng-model="nome do pai" name="nome-pai" placeholder="Nome do pai">
    </label>

    <label class="item item-input">
      <input type="text" ng-model="nome da mãe" name="nome-mae" placeholder="Nome da mãe">
    </label>

    <label class="item item-input">
      <input type="file" ng-model="imagem" name="img">
    </label>

    <label class="item item-input">
      <input type="text" ng-model="data do desaparecimento" name="data-desaparecimento" placeholder="Data do desaparecimento">
    </label>

    <label class="item item-input">
      <input type="text" ng-model="local do desaparecimento" name="local-desaparecimento" placeholder="Local do desaparecimento">
    </label>

    <label class="item item-input">
      <input type="text" ng-model="cartazete" name="cartazete" placeholder="Cartazete">
    </label>

    <label class="item item-input">
      <input type="text" ng-model="nome no cartazete" name="nome-cartazete" placeholder="Nome no cartazete">
    </label>

    <label class="item item-input">
      <input type="text" ng-model="comentário do desaparecimento" name="comentario-desaparecimento" placeholder="Comentário do desaparecimento">
    </label>

    <label class="item item-input">
      <input type="checkbox" ng-model="tatuagem" name="tatuagem" value="Tatuagem">
    </label>

    <label class="item item-input">
      <input type="checkbox" ng-model="cicatriz" name="cicatriz" value="Cicatriz">
    </label>

    <label class="item item-input">
      <input type="checkbox" ng-model="amputado" name="amputado" value="Amputado">
    </label>

    <label class="item item-input">
      <input type="checkbox" ng-model="deficiente" name="deficiente" value="Deficiente">
    </label>

    <label class="item item-input">
      <input type="text" ng-model="tipo físico" name="tipo-fisico" value="Tipo físico">
    </label>

  </ion-content>
</ion-view>