<ion-view view-title="search">
  <ion-nav-title class="title-bar">
    <h1 class="title">Pesquisar Desaparecidos</h1>
  </ion-nav-title>

  <ion-content>

    <ion-list>

      <ion-item class="item">
        <input type="text" placeholder="Nome" name="nome" class="item-input" clearInput>
      </ion-item>

      <ion-item>
        <input type="number" placeholder="Idade Aproximada" name="idade" class="item-input" clearInput>
      </ion-item>

      <ion-item>
        <input type="number" placeholder="Altura Aproximada" name="altura" class="item-input" clearInput>
      </ion-item>

      <ion-item>
        <ion-label>Cor da Pele</ion-label>
        <ion-select [(ng-model)]="cor-pele" class="item-input">
          <ion-option>tipo1</ion-option>
          <ion-option>tipo2</ion-option>
          <ion-option>tipo3</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Cor dos Olhos</ion-label>
        <ion-select [(ng-model)]="cor-olhos" class="item-input">
          <ion-option>tipo1</ion-option>
          <ion-option>tipo2</ion-option>
          <ion-option>tipo3</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Cor do Cabelo</ion-label>
        <ion-select [(ng-model)]="cor-cabelo" class="item-input">
          <ion-option>tipo1</ion-option>
          <ion-option>tipo2</ion-option>
          <ion-option>tipo3</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <input type="text" placeholder="Sexo" name="sexo" class="item-input" clearInput>
      </ion-item>

      <ion-item>
        <input type="text" placeholder="Nome do Pai" name="nome-do-pai" class="item-input" clearInput>
      </ion-item>

      <ion-item>
        <input type="text" placeholder="Nome da Mãe" name="nome-da-mae" class="item-input" clearInput>
      </ion-item>

      <ion-item>
        <input type="text" name="img" class="item-input">
      </ion-item>

      <ion-item>
        <input type="text" readonly name="data-desaparecimento" placeholder="Data do desaparecimento" (focus)="showDatePicker()" class="item-input">
      </ion-item>

      <ion-item>
        <input type="text" name="local-desaparecimento" placeholder="Local do desaparecimento" class="item-input" clearInput>
      </ion-item>

      <ion-item>
        <input type="text" name="cartazete" placeholder="Cartazete" class="item-input" clearInput>
      </ion-item>

      <ion-item>
        <input type="text" name="nome-cartazete" placeholder="Nome no cartazete" class="item-input" clearInput>
      </ion-item>

      <ion-item>
        <input type="text" name="comentario-desaparecimento" placeholder="Comentário do desaparecimento" class="item-input">
      </ion-item>

      <ion-item>
        <ion-label>Tipo Físico</ion-label>
        <ion-select [(ng-model)]="tipo-físico" class="item-input">
          <ion-option>tipo1</ion-option>
          <ion-option>tipo2</ion-option>
          <ion-option>tipo3</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Informações Adicionais</ion-label>
        <ion-select [(ng-model)]="extras" multiple="true" class="item-input">
          <ion-option>Tatuagem</ion-option>
          <ion-option>Cicatriz</ion-option>
          <ion-option>Deficiente</ion-option>
          <ion-option>Amputado</ion-option>
        </ion-select>
      </ion-item>

    </ion-list>

  </ion-content>

</ion-view>