# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

#NodeJS
/node_modules/
/platforms/
/plugins/

#Visual Studio Code
/.vscode/
jsconfig.json

#Atom
.editorconfig