.bar.bar-stable, .nav-menu{
    background-color: #F7D30A;
}

ion-content{
    background-color: #FFF;
    color: #000;
}

.main-content{
    background-color: #000;
}

.main-content .text-box{
    font-variant: small-caps;
    text-align: center;
    padding: 5%;
}

.main-content .organization-name{
    font-size: 150%;
    font-weight: bold;
    color: #F7D30A;
}

.main-content .organization-info{
    color: #FFF;
}

.main-content .logo{
    width: 100%;
}