ion-content{
    background-color: #000;
    color: #FFF;
}

.main-content{
    padding: 10px;
}

.bar.bar-stable, .nav-menu{
    background-color: #F7D30A;
}

#about-page .text-box{
    font-variant: small-caps;
    text-align: center;
    padding: 5%;
}

#about-page .organization-name{
    font-size: 150%;
    font-weight: bold;
    color: #F7D30A;
}

#about-page .organization-info{
    color: #FFF;
}

#about-page .logo{
    width: 100%;
}